RewriteEngine On

# force https:// for all except some selected URLs    
RewriteCond %{HTTPS} =off
RewriteCond %{THE_REQUEST} !MFMVersion [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# force http:// for selected URLs
RewriteCond %{HTTPS} =on
RewriteCond %{THE_REQUEST} MFMVersion [NC]
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /errors.html